
<div id="showClose">&times;</div>
<div class="showContainer" id="showContainer">
    <div class="modal-header">
        <h3 class="center">{{activity.title}}</h3>
    </div>
    <div class="showBody modal-body">
        <div class ="showText">{{activity.text}}</div><br/>
        <div class ="showTags">{{activity.tags}}</div><br/>
        <img src="{{activity.image}}"/>
        <p>University: {{activity.uni}} - {{activity.faculty}}</p>
        <input type="button" id="reportButton" class="button buttonSmall buttonRed" value="Report" ng-click="report(activity)" />
        <span id="reportMessage">Successfully Reported!</span>
        <textarea id="commentInput" placeholder="Comment..." oninput="resizeComment(this);adjustButton(this);" onfocus="focusComment(this)" onblur="unfocusComment(this)"></textarea>
        <button ng-click="reply()"id="commentSubmit" class="button buttonGreen buttonDisabled" disabled>Reply</button>
	
    </div>

</div>