<div class="modal-header">
	<h3>Post Activity on ActiviTracker</h3>
</div>
<div class="modal-body postDialog">
	<p>
		Title <span class="required">*</span><br><input id="postTitle" ng-model="activity.title" size="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		Text <span class="required">*</span><textarea id="postText" ng-model="activity.text" rows="5" maxlength="255" onkeyup="angular.element(this).scope().verifyPostForm()"></textarea>
	</p>
	<p>
		Tags <span class="required">*</span><br><input id="postTags" ng-model="activity.tags" size="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		University <span class="required">*</span><br><input id="postUniversity" ng-model="activity.uni" size="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		Faculty <span class="required">*</span><br><input id="postFaculty" ng-model="activity.faculty" size="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		Your E-Mail Adress for verification <span class="required">*</span><span id="mailHint" class="required">@hm.edu oder @cpp.edu required</span><input id="postEmail" ng-model="activity.eMail" size="255" onkeyup="angular.element(this).scope().checkEmail(); angular.element(this).scope().verifyPostForm();"/>
	</p>
	<p>
		You can upload an image here:
		<span id="postImgPreviewTxt">Preview:</span>
		<img src="" id="postImgPreview">
		<br>
		<input type="file" id="postImg" onchange="angular.element(this).scope().previewImage()" />
	</p>
	<p>
		<span class="required">* = required</span>
	</p>
	
</div>
<div class="modal-footer">
	<button id="postSubmit" ng-click="save(activity)" disabled>Save</button>
	<button ng-click="close()">Close</button>
</div>