
<div id="showClose">&times;</div>
<div id="hiddenActivityID" style="display:none;">{{activity.id}}</div>
<div class="showContainer" id="showContainer">
    <div class="modal-header">
        <h3 class="center">{{activity.title}}</h3>
    </div>
    <div class="showBody modal-body">
        <div class ="showText" ng-bind-html="activity.text"></div><br/>
        <div class ="showTags">{{activity.tags}}</div><br/>
        <img src="{{activity.image}}"/>
        <p>University: {{activity.uni}} - {{activity.faculty}}</p>
        <input type="button" id="reportButton" class="button buttonSmall buttonRed" value="Report" ng-click="report(activity)" />
        <span id="reportMessage">Successfully Reported!</span>
        <textarea id="commentInput" placeholder="Comment..." oninput="resizeComment(this);adjustButton(this);saveData(this);" onfocus="focusComment(this)" onblur="unfocusComment(this)">{{activity.textarea}}</textarea>
        <button ng-click="reply()"id="commentSubmit" class="button buttonGreen buttonDisabled" disabled>Reply</button>

        <div ng-repeat="comments in activity.days" class="commentDay">
            <div class="commentDate"><span>{{comments.timeReadable}}</span></div>
            <div ng-repeat="comment in comments.comment" class="fullComment" ng-class-even="'evenComment'">
                <div class="commentText">{{comment.comment}}</div>
                <div class="commentTime">{{comment.timeReadable}}</div>
                
            </div>
        </div>
	
    </div>

</div>