<div class="modal-header">
	<h2>Add Activity to ActiviTracker</h2>
</div>
<div class="modal-body postDialog">
	<p>
		Title<br><input ng-model="activity.title" size="255"/>
	</p>
	<p>
		Text <textarea ng-model="activity.text" rows="5" maxlength="255"></textarea>
	</p>
	<p>
		Tags<br><input ng-model="activity.tags" size="255"/>
	</p>
	<p>
		University<br><input ng-model="activity.uni" size="255"/>
	</p>
	<p>
		Faculty<br><input ng-model="activity.faculty" size="255"/>
	</p>
	<p>
		Your E-Mail Adress for verification<br><input ng-model="activity.eMail" size="255"/>
	</p>
	
</div>
<div class="modal-footer">
	<button ng-click="save(activity)">Save</button>
	<button ng-click="close()">Close</button>
</div>