<div id="post-dialog-container">
<div class="modal-header">
	<h3 class="center">Post Activity on <img id="logoPost" src="logo.svg"></h3>
</div>
<div class="modal-body postDialog">
	<p>
		Title <span class="required">*</span><br><input id="postTitle" ng-model="activity.title" size="255" maxlength="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		Text (max. 255 characters) <span class="required">*</span><textarea id="postText" ng-model="activity.text" rows="5" maxlength="255" onkeyup="angular.element(this).scope().verifyPostForm()"></textarea>
	</p>
	<p>
		Tags <span class="required">*</span><br><input id="postTags" ng-model="activity.tags" size="255" maxlength="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		University <span class="required">*</span><br>
  		<label>
    		<input id="postUniversity" name="postUniversity" type="radio" ng-model="activity.uni" value="MUAS" onclick="angular.element(this).scope().checkUni(); angular.element(this).scope().verifyPostForm();">
    		MUAS
  		</label>
  		<label>
    		<input id="postUniversity" name="postUniversity" type="radio" ng-model="activity.uni" value="CalPoly" onclick="angular.element(this).scope().checkUni(); angular.element(this).scope().verifyPostForm();">
    		CalPoly
  		</label>
	</p>
	<p>
		Faculty <span class="required">*</span><br><input id="postFaculty" ng-model="activity.faculty" size="255" maxlength="255" onkeyup="angular.element(this).scope().verifyPostForm()"/>
	</p>
	<p>
		Your E-Mail Adress for verification <span class="required">*</span><span id="mailHint" class="required">@hm.edu or @cpp.edu required</span><input id="postEmail" ng-model="activity.eMail" size="255" maxlength="255" onkeyup="angular.element(this).scope().checkEmail(); angular.element(this).scope().verifyPostForm();"/>
	</p>
	<p>
		<span id="postZIPtxtGerman">ZIP code<span class="required"> *</span></span><span id="postZIPtxtUS">City<span class="required"> *</span></span><span id="ZIPHintGerman" class="required">invalid German ZIP code!</span><span id="ZIPHintUS" class="required">invalid US city!</span><input id="postZIPCode" ng-model="activity.ZIPCode" size="255" maxlength="255" onkeyup="angular.element(this).scope().checkZIP(); angular.element(this).scope().verifyPostForm();"/>
	</p>
	<p>
		You can upload an image here:
		<span id="postImgPreviewTxt">Preview:</span>
		<img src="" id="postImgPreview">
		<br>
		<input type="file" id="postImg" onchange="angular.element(this).scope().previewImage()" />
		<button id="deleteImage" class="button buttonDisabled buttonRed" ng-click="deleteImage()" disabled>Delete image</button>
		<span id="imgSizeHint" class="required">File too large! Max 1MB.</span>
		<span id="imgTypeHint" class="required">File must be image (png, gif, jpg, jpeg)!</span>
	</p>
	<p>
		<span class="required">* = required, max. 255 characters</span>
	</p>
	
</div>
<div class="modal-footer">
	<button id="postSubmit" class="button buttonDisabled buttonGreen" ng-click="save(activity)" disabled>Save</button>
	<button  class="button buttonRed" ng-click="close()">Close</button>
</div>
</div>