<!DOCTYPE html>
<html ng-app="ActivityMeterApp">
<head>
<title>ActivityMeterApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.1.0/ui-bootstrap-tpls.js"></script>
	
<link rel="shortcut icon" type="image/png" href="favicon.png">

<link
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css" />


<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<script>
var app = angular.module('ActivityMeterApp', ['ui.bootstrap']);

//$qProvider.errorOnUnhandledRejections(false);
    
function loadActivities ($scope, $http){
		$http({
       		 method : 'GET',
             url: 'activity'
                    
    		}).then(function (response) {
     			 $scope.activities = response.data;
  		});
  	}
  	
app.controller('ActivityCtrl', function ($scope, $http, $dialog) {
  	
  	loadActivities($scope, $http);
  
		  
  	var addDialogOptions = {
    	controller: 'PostCtrl',
    	templateUrl: './activityAdd.html'
  	};
  	
  	$scope.add = function(activity){
    	$dialog.dialog(angular.extend(addDialogOptions, {})).open().then(function (){
    	    loadActivities($scope, $http);
        }) ;
  	};
  	
  	var editDialogOptions = {
	    controller: 'EditActivityCtrl',
	    templateUrl: './activityEdit.html',
	};
  	$scope.edit = function(activity){
   	 	var activityToEdit = activity;
    	$dialog.dialog(angular.extend(editDialogOptions, {resolve: {activity: angular.copy(activityToEdit)}})).open().then(function (){
    	    loadActivities($scope, $http);
        }) ;
  	};
		
	$scope.delete = function(activity) {
		var deleteRequest = {
			method : 'DELETE',
			url: 'activity/' + activity.id
		};
		
  		$http(deleteRequest).then(function() {
			loadActivities($scope, $http);
		});
  		//todo handle error
	};

	var showDialogOptions = {
	    controller: 'ShowActivityCtrl',
	    templateUrl: './activityShow.html',
	};

	$scope.show = function(activity) {
		$dialog.dialog(angular.extend(showDialogOptions, {resolve: {activity: angular.copy(activity)}})).open().then(function (){
    	    loadActivities($scope, $http);
        }) ;
	}
});

/* DARF NICHT MEHR VERWENDET WERDEN -> use PostCtrl
app.controller('AddActivityCtrl', function($scope, $http, dialog){
  
  	$scope.save = function(Activity) {
  		var postRequest = {
    	method : 'POST',
       	url: 'activity' ,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title
			  }
		}  
		
  		$http(postRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
  			$scope.close();
  		});
  	};
  
  	$scope.close = function(){;
    	dialog.close(undefined);
  	};
});
*/

app.controller('EditActivityCtrl', function ($scope, $http, activity, dialog) {
  
	$scope.activity = activity;
  	$scope.save = function($activity) {
  	    var putRequest = {
    	method : 'PUT',
       	url: 'activity/' + $scope.activity.id,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title
			  }
		}  
		
  		$http(putRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
			//todo handle error
			$scope.close();
		});
  	};	
  
  	$scope.close = function(){
  		loadActivities($scope, $http);
    	dialog.close();
  	};
});

app.controller('ShowActivityCtrl', function($scope, $http, activity, dialog){

	var getRequest = {
		method: 'GET',
		url: 'details/' + activity.id
	}

	$http(getRequest).then(function(response) {
		$scope.activity = response.data;
		
	});

});


app.controller('PostCtrl', function($scope, $http, dialog){

	var imgData = null;
	
	var emailIsValid = false;
	var imgValidSize = true;
	var imgValidType = true;
	
	$scope.verifyPostForm = function() {
		var title = document.getElementById('postTitle').value;
		var text = document.getElementById('postText').value;
		var tags = document.getElementById('postTags').value;
		var university = document.getElementById('postUniversity').value;
		var faculty = document.getElementById('postFaculty').value;
		var email = document.getElementById('postEmail').value;
		
		/*console.log("changeed");
		console.log(title);
		console.log(text);
		console.log(tags);
		console.log(university);
		console.log(faculty);
		console.log(email);*/
		
		if(title.length > 0 && text.length > 0 && tags.length > 0 && university.length > 0 && faculty.length > 0 && email.length > 0 && emailIsValid) {
			document.getElementById("postSubmit").disabled = false;
			document.getElementById("postSubmit").classList.remove('buttonDisabled');
		} else {
			document.getElementById("postSubmit").disabled = true;
			document.getElementById("postSubmit").classList.add('buttonDisabled');
		}
	}
	
	$scope.checkEmail = function() {

		var email = document.getElementById('postEmail').value;
		var hm = email.substring(email.length-7, email.length);
		var cpp = email.substring(email.length-8, email.length);

		if(hm == "@hm.edu" || cpp == "@cpp.edu") {
			emailIsValid = true;
			document.getElementById("mailHint").style.display = "none";
		} else {
			emailIsValid = false;
			document.getElementById("mailHint").style.display = "block";
		}
		
	}
	
	$scope.checkImageType = function(file) {

		var ext = file.name.split('.').pop().toLowerCase();
    	if(ext == "gif" || ext == "png" || ext == "jpg" || ext == "jpeg") {
        	imgValidType = true;
        	document.getElementById("imgTypeHint").style.display = "none";
   		} else {
   			imgValidType = false;
   			document.getElementById("imgTypeHint").style.display = "block";

			$scope.deleteImage();  	

   		}	
	}

	$scope.checkImageSize = function(file) {
    	var maxSize = 1024 * 1000 * 1;
    
    	if(file.size > maxSize) {
        	imgValidSize = false;
        	document.getElementById("imgSizeHint").style.display = "block";

			$scope.deleteImage();  	

    	} else {
    		imgValidSize = true;
    		document.getElementById("imgSizeHint").style.display = "none";
		}
		
	}
	
	$scope.deleteImage = function() {

        document.getElementById("postImg").value = "";
        var preview = document.querySelector('#postImgPreview');
   		preview.src = "";
   		document.getElementById("postImgPreview").style.display = "none";
		document.getElementById("postImgPreviewTxt").style.display = "none";
		document.getElementById("deleteImage").disabled = true;
		document.getElementById("deleteImage").classList.add('buttonDisabled');
	
		imgData = null;
	}

	$scope.previewImage = function() {
	
	
		var preview = document.querySelector('#postImgPreview');
		var file = document.querySelector('#postImg').files[0];
		var reader = new FileReader();
		
		$scope.checkImageType(file);
		$scope.checkImageSize(file);
		$scope.verifyPostForm();

		if(imgValidType && imgValidSize)
		{

  			reader.addEventListener("load", function () {
    			preview.src = reader.result;
    			imgData = reader.result;
    			//imgData = imgData.substring(imgData.indexOf(',')+1, imgData.length);
  			}, false);

  			if (file) {
    			reader.readAsDataURL(file);
			}
		
			document.getElementById("postImgPreview").style.display = "block";
			document.getElementById("postImgPreviewTxt").style.display = "block";
			
			document.getElementById("deleteImage").disabled = false;
			document.getElementById("deleteImage").classList.remove('buttonDisabled');
 
	
		}
	}

  	$scope.save = function(Activity) {
  		var postRequest = {
    	method : 'POST',
       	url: 'post' ,
       	data: {
  				text: $scope.activity.text,
  				tags: $scope.activity.tags,
  				title: $scope.activity.title,
  				eMail: $scope.activity.eMail,
  				uni: $scope.activity.uni,
  				faculty: $scope.activity.faculty,
  				image: imgData
			  }
		}  
		
  		$http(postRequest).then(function (response) {
  		    $scope.activities = response.data;
  		}).then(function () {
  			imgData = null;
  			$scope.close();
  		});
  	};
  
  	$scope.close = function(){;
    	dialog.close(undefined);
  	};
});


</script>
</head>
<body>
	<div ng-controller="ActivityCtrl">
		<p id="logo-container"><img id="logo" src="logo.svg"></p>
		<table class="mdl-data-table">
			<tr>
				<td class="mdl-data-table__cell--non-numeric" colspan=3>&nbsp;</td>
				<td class="mdl-data-table__cell--non-numeric"><button
						class="mdl-button" ng-click="add()">add Activity</button></td>
			</tr>
			<tr ng-repeat="activity in activities">
				<td class="mdl-data-table__cell--non-numeric">{{activity.title}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.text}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{activity.tags}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button" ng-click="edit(activity)">edit</button>
					<button class="mdl-button" ng-click="delete(activity)">delete</button>
					<button class="mdl-button" ng-click="show(activity)">show</button>
					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
